.ec-size .ec-store__content-wrapper {
display: flex;
flex-direction: column;
}

.ec-size .ec-store__content-wrapper .product-details {
order: 2;
}

.ec-size .ec-store__content-wrapper .ec-footer {
order: 3;
}

.ec-store__content-wrapper .related_products {
order: 1;
}
fhgwuerythgqerjgvrquoeihfgwreuohgfwerg
gdsfg
sfdg
sdfh
dsfhj
sfg
jar
tj
d
sj
rts
jtye
j
wrt
jw
tryj
ertyj
fhgwuerythgqerjgvrquoeihfgwreuohgfwerg
gdsfg
sfdg
sdfh
dsfhj
sfg
jar
tj
d
sj
rts
jtye
j
wrt
jw
tryj
ertyj
